.btn {
  width: 182px;
  border-radius: 7px;
  font-size: 21px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 600;
  font-family: 'Poppins';
}

.btn-header-info {
  background-color: #00bec9;
  height: 69px;
}

.btn-header-light {
  border: 3px solid #ffffff;
  height: 69px;
}
