.btn {
  width: 182px;
  border-radius: 7px;
  font-size: 21px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 600;
  font-family: 'Poppins';
}

.btn-header-info {
  background-color: #00bec9;
  height: 69px;
}

.btn-header-light {
  border: 3px solid #ffffff;
  height: 69px;
}

.btn-section-warning {
  width: 182px;
  height: 69px;
  border-radius: 7px;
  background-color: #fcc302;
}

.img-block {
  display: block;
  position: absolute;
  width: 252px;
  height: 206px;
  background-color: #fcc302;
  z-index: -1;
  bottom: -30px;
  left: -30px;
}

.img-block-2 {
  display: block;
  position: absolute;
  width: 252px;
  height: 206px;
  background-color: #fcc302;
  z-index: -1;
  bottom: -30px;
  right: 30px;
}

.img {
  max-width: 506px;
  max-height: 480px;
}

.play {
  position: absolute;
  left: 38%;
  top: 38%;
  cursor: pointer;
}

.btn-buy-now {
  display: flex;
  width: 199px;
  height: 60px;
  border-radius: 30px;
  background-color: #00bec9;
  justify-content: center;
  align-items: center;
  margin: 28px auto 110px auto;
}
