.nav-link {
  font-size: 29px;
  color: #ffffff;
  font-weight: 500;
  font-family: 'Poppins';
}

.header {
  .header__text-title {
    font-size: 55px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 600;
    font-family: 'Poppins';
  }

  .header__text-subtitle {
    font-size: 24px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 400;
    font-family: 'Poppins';
  }
}

.section__text-title {
  font-size: 50px;
  color: #313243;
  font-weight: 600;
  font-family: 'Poppins';
}

.section__text-subtitle {
  font-size: 29px;
  letter-spacing: 0px;
  color: #313243;
  font-weight: 400;
  font-family: 'Poppins';
}

.section__text-title-2 {
  font-size: 50px;
  color: #313243;
  font-weight: 600;
  font-family: 'Poppins';
  text-align: right;
}

.section__text-subtitle-2 {
  font-size: 29px;
  letter-spacing: 0px;
  color: #313243;
  font-weight: 400;
  font-family: 'Poppins';
  text-align: right;
}

.cards-container-text__title {
  font-size: 75px;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Poppins';
  text-align: center;
}

.cards-container-text__subtitle {
  font-size: 33px;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Poppins';
  text-align: center;
}

.card-card-title {
  font-size: 38px;
  color: #ffffff;
  font-weight: 600;
  font-family: 'Poppins';
  text-align: center;
}

.card-card-subtitle {
  font-size: 25px;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Poppins';
  text-align: center;
}

.team-container-text__title {
  font-size: 75px;
  color: #313243;
  font-weight: 700;
  font-family: 'Poppins';
  text-align: center;
}

.team-container-text__subtitle {
  font-size: 33px;
  color: #313243;
  font-weight: 400;
  font-family: 'Poppins';
  text-align: center;
}

.team-card-title {
  font-size: 29px;
  color: #313243;
  font-weight: 700;
  font-family: 'Poppins';
  text-align: center;
}

.team-card-subtitle {
  font-size: 25px;
  color: #313243;
  font-weight: 400;
  font-family: 'Poppins';
  text-align: center;
}

.statistics__num {
  font-size: 42px;
  color: #ffffff;
  font-weight: 500;
  font-family: 'Poppins';
  text-align: center;
}
.statistics__subtitle {
  font-size: 38px;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Poppins';
  text-align: center;
}
