.nav-link {
  color: #ffffff;

  font-family: "Poppins";
  font-size: 29px;
  font-weight: 500;
}

.header .header__text-title {
  letter-spacing: 1px;

  color: #ffffff;

  font-family: "Poppins";
  font-size: 55px;
  font-weight: 600;
}
.header .header__text-subtitle {
  letter-spacing: 0;

  color: #ffffff;

  font-family: "Poppins";
  font-size: 24px;
  font-weight: 400;
}

.section__text-title {
  color: #313243;

  font-family: "Poppins";
  font-size: 50px;
  font-weight: 600;
}

.section__text-subtitle {
  letter-spacing: 0;

  color: #313243;

  font-family: "Poppins";
  font-size: 29px;
  font-weight: 400;
}

.section__text-title-2 {
  text-align: right;

  color: #313243;

  font-family: "Poppins";
  font-size: 50px;
  font-weight: 600;
}

.section__text-subtitle-2 {
  text-align: right;
  letter-spacing: 0;

  color: #313243;

  font-family: "Poppins";
  font-size: 29px;
  font-weight: 400;
}

.cards-container-text__title {
  text-align: center;

  color: #ffffff;

  font-family: "Poppins";
  font-size: 75px;
  font-weight: 700;
}

.cards-container-text__subtitle {
  text-align: center;

  color: #ffffff;

  font-family: "Poppins";
  font-size: 33px;
  font-weight: 400;
}

.card-card-title {
  text-align: center;

  color: #ffffff;

  font-family: "Poppins";
  font-size: 38px;
  font-weight: 600;
}

.card-card-subtitle {
  text-align: center;

  color: #ffffff;

  font-family: "Poppins";
  font-size: 25px;
  font-weight: 400;
}

.team-container-text__title {
  text-align: center;

  color: #313243;

  font-family: "Poppins";
  font-size: 75px;
  font-weight: 700;
}

.team-container-text__subtitle {
  text-align: center;

  color: #313243;

  font-family: "Poppins";
  font-size: 33px;
  font-weight: 400;
}

.team-card-title {
  text-align: center;

  color: #313243;

  font-family: "Poppins";
  font-size: 29px;
  font-weight: 700;
}

.team-card-subtitle {
  text-align: center;

  color: #313243;

  font-family: "Poppins";
  font-size: 25px;
  font-weight: 400;
}

.statistics__num {
  text-align: center;

  color: #ffffff;

  font-family: "Poppins";
  font-size: 42px;
  font-weight: 500;
}

.statistics__subtitle {
  text-align: center;

  color: #ffffff;

  font-family: "Poppins";
  font-size: 38px;
  font-weight: 700;
}

.posts-card-title {
  color: #313243;

  font-family: "Poppins";
  font-size: 25px;
  font-weight: 600;
}

.posts-date {
  color: #00bec9;

  font-family: "Poppins";
  font-size: 17px;
  font-weight: 400;
}

.posts-subtitle {
  color: #313243;

  font-family: "Poppins";
  font-size: 17px;
  font-weight: 400;
}

.posts-read-more {
  text-decoration: none;

  color: #00bec9;

  font-family: "Poppins";
  font-size: 21px;
  font-weight: 500;
}

.list-topic {
  list-style: none;

  color: #ffffff;

  font-family: "Poppins";
  font-size: 38px;
  font-weight: 600;
}

.list-item {
  list-style: none;

  color: #ffffff;

  font-family: "Poppins";
  font-size: 24px;
  font-weight: 400;
  line-height: 44px;
}

.list-item a {
  text-decoration: none;

  color: #ffffff;
}

.footer-social__title {
  text-align: right;

  color: #ffffff;

  font-family: "Poppins";
  font-size: 38px;
  font-weight: 600;
  line-height: 8px;
}

.footer-social__subtitle {
  text-align: right;

  color: #ffffff;

  font-family: "Poppins";
  font-size: 25px;
  font-weight: 400;
  line-height: 33px;
}

.btn {
  width: 182px;

  letter-spacing: 0;

  color: #ffffff;
  border-radius: 7px;

  font-family: "Poppins";
  font-size: 21px;
  font-weight: 600;
}

.btn-header-info {
  height: 69px;

  background-color: #00bec9;
}

.btn-header-light {
  height: 69px;

  border: 3px solid #ffffff;
}

.btn-section-warning {
  width: 182px;
  height: 69px;

  border-radius: 7px;
  background-color: #fcc302;
}

.img-block {
  position: absolute;
  z-index: -1;
  bottom: -30px;
  left: -30px;

  display: block;

  width: 252px;
  height: 206px;

  background-color: #fcc302;
}

.img-block-2 {
  position: absolute;
  z-index: -1;
  right: 30px;
  bottom: -30px;

  display: block;

  width: 252px;
  height: 206px;

  background-color: #fcc302;
}

.img {
  max-width: 506px;
  max-height: 480px;
}

.play {
  position: absolute;
  top: 38%;
  left: 38%;

  cursor: pointer;
}

.btn-buy-now {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 199px;
  height: 60px;
  margin: 28px auto 110px auto;

  border-radius: 30px;
  background-color: #00bec9;
}

.wrapper {
  max-width: 1159px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-section {
  width: 100%;
  min-height: 780px;

  background-color: #fcc302;
}

.section {
  min-height: 780px;
}

.section-large {
  min-height: 1018px;
}

.section-yellow {
  width: 100%;
  min-height: 1018px;

  background-color: #fcc302;
}

.section-small {
  min-height: 576px;

  background-color: rgba(252, 195, 2, 0.8392156863);
  background-image: url(../images/section-small-img.png);
  background-size: cover;
}

footer {
  min-width: 1440px;

  background-color: #343434;
}

header {
  max-width: 100%;

  background-color: #daac00;
}

.navbar {
  min-height: 121px;
}

.navbar-nav {
  margin-right: 0 !important;
  padding-right: 32px;
  padding-left: 32px;

  gap: 24px;
}

.form-control {
  width: 274px;
  min-height: 51px;

  -webkit-transition: 0.5s ease;
          transition: 0.5s ease;

  border: none;
  border-radius: 0;
  background-color: #fcc302;

  -webkit-filter: drop-shadow(7.512px 14.127px 9px rgba(74, 74, 74, 0.1));
          filter: drop-shadow(7.512px 14.127px 9px rgba(74, 74, 74, 0.1));
}

.form-control::-webkit-input-placeholder {
  letter-spacing: 0;

  color: #ffffff;

  font-family: "Poppins";
  font-size: 21px;
  font-weight: 400;
}

.form-control::-moz-placeholder {
  letter-spacing: 0;

  color: #ffffff;

  font-family: "Poppins";
  font-size: 21px;
  font-weight: 400;
}

.form-control:-ms-input-placeholder {
  letter-spacing: 0;

  color: #ffffff;

  font-family: "Poppins";
  font-size: 21px;
  font-weight: 400;
}

.form-control::-ms-input-placeholder {
  letter-spacing: 0;

  color: #ffffff;

  font-family: "Poppins";
  font-size: 21px;
  font-weight: 400;
}

.form-control::placeholder,
input.form-control,
input.form-control:focus {
  letter-spacing: 0;

  color: #ffffff;

  font-family: "Poppins";
  font-size: 21px;
  font-weight: 400;
}

.form-control:hover,
.form-control:focus {
  background-color: #ffcb20;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-navbar {
  width: 71px;
  max-height: 51px;

  border-radius: 0;
  background-color: #00bec9;
}
.btn-navbar .search {
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
}

.btn-navbar:hover {
  background-color: #079ba3;
}

.nav-link:hover,
.nav-link:focus {
  color: gainsboro;
}

.header .header__text-title {
  margin-bottom: 29px;
}
.header .header__text-subtitle {
  margin-bottom: 28px;
}
.header .header__img {
  max-width: 426px;
  margin-top: 85px;
  margin-left: 150px;
}
.header .header__text-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  gap: 34px;
}

.section-first {
  padding-top: 139px;
}

.section__img {
  position: relative;
  left: 92px;
}

.section__text-title {
  margin-bottom: 29px;
}

.section__text-subtitle {
  margin-bottom: 28px;
}

.cards-container-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  padding-top: 102px;
}

.cards-container-text__title {
  margin-bottom: 29px;
}

.cards-container-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-top: 100px;

  gap: 67px;
}

.card-card {
  max-width: 342px;
}

.card-card-title {
  margin-top: 50px;
}

.card-card-subtitle {
  margin-bottom: 100px;
}

.section__img-2 {
  position: relative;
  left: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section__text-title-2 {
  margin-bottom: 29px;
}

.section__text-subtitle-2 {
  margin-bottom: 28px;
}

.second-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.team-card {
  max-width: 361px;
}

.team-card-title {
  margin-top: 39px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  gap: 12px;
}

.cards-container-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;

  padding-top: 165px;
}

.statistics__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0 auto;
}

.statistics__num {
  margin-top: 30px;
}

.posts-text {
  margin-bottom: 139px;
  padding: 32px 0 32px 34px;

  -webkit-transition: 0.5s ease;
          transition: 0.5s ease;

  border-right: 2px solid #d6d6d6;
  border-bottom: 2px solid #d6d6d6;
  border-left: 2px solid #d6d6d6;
  background-color: #fffdfd;
}

.posts-text:hover {
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  background-color: #ffffff;

  -webkit-filter: drop-shadow(5.634px 10.595px 25.5px rgba(74, 74, 74, 0.1));
          filter: drop-shadow(5.634px 10.595px 25.5px rgba(74, 74, 74, 0.1));
}

.list {
  margin-bottom: 0;
  padding-left: 0;
}

.list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  gap: 111px;
}

footer {
  padding-top: 154px;
  padding-bottom: 191px;
}

.list-topic {
  margin-bottom: 18px;
}

.footer-social__tg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  height: 90px;
}

.yellow-span {
  width: 386px;

  background-color: #daac00;
}

.tg-span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 144px;

  -webkit-transition: 0.5s ease;
          transition: 0.5s ease;

  background-color: #00bec9;
}

.tg-span:hover {
  background-color: #079ba3;
}

.tg {
  width: 33px;
  height: 32px;
}

.footer-social__title {
  padding-bottom: 19px;
}

.footer-social__subtitle {
  margin-bottom: 49px;
}

.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;

  margin-top: 50px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}
