.header {
  .header__text-title {
    margin-bottom: 29px;
  }

  .header__text-subtitle {
    margin-bottom: 28px;
  }

  .header__img {
    margin-top: 85px;
    margin-left: 150px;
    max-width: 426px;
  }

  .header__text-actions {
    display: flex;
    gap: 34px;
  }
}
