.section__img-2 {
  position: relative;
  left: 0;
  display: flex;
}

.section__text-title-2 {
  margin-bottom: 29px;
}

.section__text-subtitle-2 {
  margin-bottom: 28px;
}

.second-btn {
  display: flex;
  justify-content: flex-end;
}
