.team-card {
  max-width: 361px;
}

.team-card-title {
  margin-top: 39px;
}

.socials {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.cards-container-cards {
  display: flex;
  justify-content: center;
}
